body {
    background-color: #fafafa;
}

.center-nav {
    border-top: 0.5px solid #8c797f;
    padding-top: 2rem;
}

#name {
    font-family: "Avenir";
    font-weight: 100;
    letter-spacing: 4px;
    font-size: 26px;
    color: #8c797f;
}

a {
    padding-left: 8px;
    padding-right: 8px;
    text-align: center;
    color: #7e7e7e;
    display: inline;
    font-size: 16px;
}

a:hover {
    text-decoration: none;
    color: #8c797f;
    cursor: pointer;
}

#landing {
    margin: auto;
    margin-top: 5rem;
    margin-bottom: 7rem;
}

#intro {
    text-align: center;
    color: 	#8c797f;
}

.right {
    float: right;
}

.btn-group-lg>.btn, .btn-lg {
    font-size: 17px;
}

.mb-5, .my-5 {
    margin-bottom: 1.5rem!important;
}

.mt-5, .my-5 {
    margin-top: 1.5rem!important;
}

a.btn {
    padding-left: 8px;
    padding-right: 8px;
    color: #efe7e4;
}

.about {
    margin-bottom: 2rem;
}

a.btn:hover {
    text-decoration: none;
    color: white;
    font-size: 17px;
    cursor: pointer;
}

p {
    font-size: 17px;
    line-height: 28px;
}

.me {
    width: 90%;
}

.main-text {
    padding-left: 25px;
    padding-right: 50px;
    padding-bottom: 5rem;
    color: #8c797f;
}

.btn-primary {
    background-color: #8c797f;
    color: white;
    border: none;
}

.btn:hover {
    background-color: #7e7e7e;
    color: #8c797f;
}

@media only screen and (max-width: 600px) {
    .main-text {
        padding-top: 20px;
    }
    .main {
        margin: 15px;
    }
  }